<nav class = "navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href ="#" class = "navbar-brand">Recipe Book</a>
        </div>

        <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
            <ul class = "nav navbar-nav">
                <li><a href ="#" (click) = "onSelect('recipe')">Recipes</a></li>
                <li><a href ="#" (click) = "onSelect('shopping-list')">Shopping List</a></li>
            </ul>
            <ul class = "nav navbar-nav navbar-right show">
                <li class = " nav-item dropdown" >
                    <a class=" nav-link dropdown-toggle" id = "manageMenu" data-toggle = "dropdown" aria-haspopup="true"
                    aria-expanded="true" appDropdown>Manage</a>
                    <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="manageMenu">
                        <li><a class = "dropdown-item" (click) = "onMenuClick()">Save Data</a></li>
                        <li><a class = "dropdown-item" (click) = "onMenuClick()">Fetch Data</a></li>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>


